site_name: Python Project Template
site_url: 'https://deargen-ai.gitlab.io/python-project-template-docs'
repo_url: 'https://github.com/deargen/python-project-template-2024'
copyright: |
  &copy; 2024 <a href="https://deargen.me"  target="_blank" rel="noopener">Deargen Inc.</a>
watch: [mkdocs.yml, README.md, src/]
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn

nav:
  - Home:
      - Overview: index.md
      - Changelog: CHANGELOG.md
  - Document Generator:
      - MkDocs: mkdocs/mkdocs.md
      - GitLab Pages 세팅: mkdocs/gitlab_pages.md
      - 파이썬 referencing: mkdocs/mkdocstrings.md
      - API Reference 페이지: mkdocs/api_reference.md
      - Admonition (Note 창): mkdocs/admonitions.md
  - Git:
      - 커밋 메시지: git/git_commit.md
      - GitHub 사용법: git/github.md
      - 버전 릴리즈: git/release_version.md
      - Format code on GitHub: git/format_code.md
  - Python tools:
      - Formatters (black, isort): python_tools/formatters.md
      - Linter (ruff): python_tools/linter.md
      - LSP (pylance): python_tools/lsp.md
      - TODO highlights: python_tools/todo_highlights.md
      - 기타 플러그인: python_tools/other_vscode_extensions.md
  - Python:
      - logging: python/logging.md
      - Version from Git Tag: python/versioneer.md
  # defer to gen-files + literate-nav
  - API reference:
      - mkdocstrings-python: reference/

theme:
  name: material
  features:
    - toc.follow
    - navigation.top
    - navigation.footer
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.path
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: ko
  palette:
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: black
      accent: lime
      toggle:
        icon: material/weather-night
        name: Switch to system preference

plugins:
  - search
  - gen-files:
      scripts:
        - scripts/gen_ref_nav.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      handlers:
        python:
          paths: [src] # search packages in the src folder

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/deargen/python-project-template-2024
  version:
    provider: mike

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tilde # strikethrough with ~~ ~~
  - toc:
      permalink: true
